:root {
    --elements-bg-color: rgba(255, 255, 255, .3);
    
    --typo-primary: #444444;
    --typo-secondary: #646464;
    --typo-tertiary: #797979;

    --cl-primary: #E46E6E;
    --cl-secondary: rgba(228, 110, 110, .6);
    
    --footer-text: rgba(255, 255, 255, .7);

    --image-size: 95px;
  }

html {
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 720px;
    color: var(--typo-main);

}

/*
* TYPOGRAPHY
*/

h2 {
    font-size: 200%;
    font-weight: 400;
}

h3 {
    font-size: 110%;
    font-weight: 400;
}

h4 {
    font-size: 95%;
    font-weight: 300;
}

p {
    font-size: 14px;
}

#collapseOneHead {
    color: black;
    text-decoration: none;
    outline: none;
    cursor: grab;}


#collapseOneHead-pi:hover, #collapseOneHead-pi:focus, #p-head-pi, #p-head-pi:focus, #p-head-pi:hover  {
    color: black;
    text-decoration: none;
    outline: none;
}


.p-subtext {
    font-size: 60%;
    color: var(--typo-sub);
    font-style: italic;
}


/* HEADER */
#header{
    background-color: white;
    z-index: 200;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 6vh;
}

.header-icon {
    max-height: 4vh;
    max-width: 8vw;
}

/* 
* DOUBBLE INFO
* _BACK
*/

#doubble-info {
    z-index: 1;
    height: 60vh;
    overflow: scroll;
}

#container-di {
    padding-top: 2vh;
}

#nav-di a {
    font-size: 12px;
    color: var(--cl-primary)
}

/* 
* PROJECT TEASER
* _MID
*/

#project-teaser {
    z-index: 2;
    position: absolute;
    width: 100vw;
    top: 70vh; /* anchored to bottom, that's were the containers end*/
    
}

#accordion-pt, button {
    width: 100%;
}

.card {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

.card-head-pt {
    height: 20vh;
}

.card-body-pt {
    height: 35vh;
    overflow:hidden;
}

/* 
* PROJECT INFO
* _BACK
*/

#project-info {
    z-index: 3;
    position: absolute;
    width: 100vw;
    top: 70vh; /* anchored to bottom, that's were the containers end*/
}

.card {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-head-pi {
    height: 15vh;
}

.card-body-pi {
    height: 35vh;
    overflow:scroll;
    margin-left: 2vw;
    margin-right: 2vw;
}


/*
* BOTH OVERLAYS 
*/

#accordion-pt, #accordion-pi {
    position:absolute;
    width: 100vw;
    bottom:0;
    left: 0;
}

.accordion-icon{
    color: var(--cl-primary);
    font-size: 150%;
}


.pip {
    background-image: url("/ressources/img/help3.png");
    width: 100%;
    height: auto;
}

/* 
* ACTION BUTTONS
*/

#button-action {
    background: #ffffff;
    z-index: 3;
    position: absolute;
    width: 100vw;
    top: 69vh; /* anchored to top, that's were the containers starts*/
}

#content-ba {
    height: 26vh;
}

#content-ba button {
    background-color: var(--cl-primary);
    color: white;
    border-radius: 100px;
    letter-spacing: .7px;
}

/* Slider */
.slidecontainer {
    width: 100%;
}
#range-ba {
    margin-top: 2px;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid var(--cl-secondary);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--cl-primary);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--cl-primary);
    cursor: pointer;
}

.range-slider-value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: rgb(255, 255, 255);
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: var(--cl-primary);
    padding: 5px 10px;
    margin-left: 8px;
    font-size: 14px;
}
.range-slider-value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid var(--cl-primary);
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #ffffff;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

/*
* FOOTER
*/

#container {
    min-height:100vh;
    position:relative;
}

footer {
    position: absolute;
    top: 95vh;
    width: 100%;
    height: auto;
    background: rgb(196, 196, 196);
    font-size: 12px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
  footer li {
    float: right;
}
  
  footer li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: var(--cl-secondary);
}
  
  footer a:hover {
    text-decoration: none;
    color: var(--cl-secondary);
}

  
/* HELPER CLASSES */
.auto-margin {
    margin: auto;
}

.margin-bot {
    margin-bottom: 2vh;
}

.margin-bot-sm {
    margin-bottom: 1vh;
}

.margin-top {
    margin-top: 2vh;
}


.margin-top-sm {
    margin-top: 1vh;
}

#project-info .col {
    margin: 0;
    padding: 0;
}

.color-primary {
    color: var(--cl-primary);
}