:root {
    --elements-bg-color: rgba(255, 255, 255, .3);
    
    --typo-main: #fff;
    --typo-sub: #fff;
    /*--typo-main: #505050;
    --typo-sub: #3d3d3d;*/

    --bg-start: #F99D48;
    --bg-end: #E36B60;
    
    --footer-text: rgba(255, 255, 255, .7);

    --image-size: 95px;
  }

html {
    min-height: 110%;
}

body {
    font-family: "Open Sans", sans-serif;
    max-width: 720px;
    margin:auto;
    color: var(--typo-main);

    background-image: linear-gradient(var(--bg-start), var(--bg-end));
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
* TYPOGRAPHY
*/

h2 {
    font-size: 200%;
    font-weight: 400;
}

h3 {
    font-size: 110%;
    font-weight: 400;
}

h4 {
    font-size: 95%;
    font-weight: 300;
}

.p-subtext {
    font-size: 60%;
    color: var(--typo-sub);
    font-style: italic;

}

.card-description {
    font-size: 80%;
    line-height: 1.5;
}

.card-description p {
    font-size: 97%;
}

.card-description a { 
    line-height: 1.5;
    color: #EA7957;
    border: 1px solid var(--typo-main);
    background-color: var(--typo-main);
    border-radius: 16px;
    padding: 4px 20px;
    transition: background-color .4s, color .2s;
    -webkit-transition: background-color .4s, color .2s;
}

.card-description a:hover { 
    background-color: rgba(255, 255, 255, .1);
    color: var(--typo-main);
    text-decoration: none;
}

/* HELPER CLASSES */
.auto-margin {
    margin: auto;
}

.margin-bot {
    margin-bottom: 5vh;
}

.margin-top {
    margin-top: 4vh;
}

.margin-bot-sm {
    margin-bottom: 2vh;
}

.margin-top-sm {
    margin-top: 2vh;
}

/* HEADER */
#header{
    background-color: white;
    z-index:2;
}

.header-logo {
    /*-webkit-box-shadow: 0px -35px 26px 37px rgba(143,143,143,0.36);
    -moz-box-shadow: 0px -35px 26px 37px rgba(143,143,143,0.36);
    box-shadow: 0px -35px 26px 37px rgba(143,143,143,0.36);
    */
    padding: 5px 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
  }

/* 
* CUSTOM CLASSES MAIN
*/
.row {
    text-align: center;
}

.left-align {
    text-align: left;
}

.main-content {
    margin-top: 10px;
}

.custom-img {
    border-radius: 50%;
    max-width: var(--image-size);
    border: 1px solid var(--elements-bg-color);
}

.bg-grey {
    margin-left: 0vw;
    background-color: var(--elements-bg-color);
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
}

.logo{
    max-width: 30%;
    height: auto;
}

.custom-btn {
    /* unused! */
    background: none;
    padding: 0vw 4vw;
    font-size: 10px;     
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
}

/* FOOTER */

footer {
    color: var(--footer-text);
    padding-bottom: 20px;
}

footer a{
    text-decoration: none;
    font-size: 70%;
    font-weight: 300;
    color: var(--footer-text);
}

footer a:focus{
    text-decoration: none;
    font-size: 70%;
    font-weight: 300;
    color: var(--footer-text);
}

.footer-button {    
    padding: .8vh 7vw;
    border: .4px solid var(--footer-text);
    border-radius: 20px;
}

#imprint {
    color: rgba(255, 255, 255, .5);
    font-size: 60%;
    letter-spacing: 1px;
}

hr {
    border-color: rgba(255, 255, 255, .2);
    height: .2px;
}

/*
* PAGE 2 STUFF
*/

.back-nav {
    color: var(--bg-end);
    font-size: 110%;
}

.pm {
    line-height: 1.5;
    
    border: 1px solid var(--typo-main);
    background-color: var(--typo-main);
    border-radius: 10px;
    padding: 5px 0px;
    /*transition: background-color .4s, color .2s;
    -webkit-transition: background-color .4s, color .2s;*/
    width: 100%;
    color: #EA7957;
    font-size: 70%;
}

.pm:hover {
    background-color: rgba(255, 255, 255, .1);
    text-decoration: none;
    color: var(--typo-main);
}

.pm:hover * {
    background-color: rgba(255, 255, 255, .1);
    text-decoration: none;
    color: var(--typo-main);
}

.pm-a:hover {
    text-decoration: none;
}


/*
* PAGE 3 Stuff
*/ 
.info-text {
    background-color: var(--elements-bg-color);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .3);

    text-align: left;
}

.info-text ol {
    font-size: 90%;
    font-weight: 300;
    padding: 6px 12px;
}

.info-text a {
    color: var(--bg-end);
    text-decoration: underline;
}